.list-container {
  max-width: 1200px;
}

.todo-title {
  background-color: #a7ecee;

  text-align: center;
}

.wrapper {
  /* display: flex; */
  gap: 30px;
  max-width: 1200px;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

  margin-left: 14px;
}
