.todo-button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 30px;
}

.complete-button {
  width: 130px;
  height: 40px;

  background-color: transparent;

  border-color: #e3fdfd;

  font-size: 30px;
}

.delete-button {
  width: 130px;
  height: 40px;

  background-color: transparent;
  border-color: #e3fdfd;

  font-size: 30px;
}
