@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Dokdo&family=Henny+Penny&family=Nanum+Pen+Script&family=Nosifer&family=Pacifico&family=Rampart+One&family=Shadows+Into+Light&family=Sigmar&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Dokdo&family=Dongle:wght@400;700&family=Henny+Penny&family=Nanum+Pen+Script&family=Nosifer&family=Pacifico&family=Rampart+One&family=Shadows+Into+Light&family=Sigmar&family=Ubuntu:wght@300&display=swap");
* {
  font-family: "Dongle", sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  min-width: 800px;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 50px;
  /* border: 1px solid rgb(194, 191, 191); */

  /* border-radius: 15px; */
  background-color: #74d2f7;

  padding: 15px 20px;
}

.input-container {
  padding: 30px;
  border: 1px;
  /* border-radius: 15px; */

  display: flex;
  align-items: center;

  background-color: #a4e2fa;

  font-size: 30px;
}

.input-container input {
  height: 40px;
  width: 300px;
  font-size: 35px;
  gap: 30px;

  border: 1px solid black;
  border-radius: 5px;
}

.input-button {
  width: 150px;

  margin-left: 100px;
  margin-right: 100px;

  background-color: #a4e2fa;

  border: 1px solid #a4e2fa;
  border-radius: 5px;

  font-size: 40px;
}

.input-box {
  display: flex;
  /* align-items: center; */
  gap: 30px;
}

.list-container {
  max-width: 1200px;
}

.wrapper {
  /* display: flex; */
  gap: 30px;
  max-width: 1200px;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

  margin-left: 14px;
}

.todo-container {
  background-color: #e3fdfd;
  border: 4px solid #e3fdfd;
  border-radius: 10px;
  width: 200px;

  padding: 20px 70px 50px 70px;
  word-break: break-all;
}

.todo-title {
  background-color: #a7ecee;

  text-align: center;
}

.todo-box h2 {
  text-align: center;
}

.todo-button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 30px;
}

.complete-button {
  width: 130px;
  height: 40px;

  background-color: transparent;

  border: 2px solid rgb(148, 235, 148);
  border-radius: 10px;
}

.delete-button {
  width: 130px;
  height: 40px;

  background-color: transparent;
  border: 2px solid rgb(226, 125, 125);
  border-radius: 10px;
}
