@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Dokdo&family=Henny+Penny&family=Nanum+Pen+Script&family=Nosifer&family=Pacifico&family=Rampart+One&family=Shadows+Into+Light&family=Sigmar&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Dokdo&family=Dongle:wght@400;700&family=Henny+Penny&family=Nanum+Pen+Script&family=Nosifer&family=Pacifico&family=Rampart+One&family=Shadows+Into+Light&family=Sigmar&family=Ubuntu:wght@300&display=swap");
* {
  font-family: "Dongle", sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  min-width: 800px;
}
